.button-pagination {
  margin-left: 0.5rem;
}

.container {
  display: flex;
}

@media (max-width: 320px)  {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.favourite-item {
  display: flex;
  justify-content: space-between;
}

.favourite-item svg {
  color: gray;
  cursor: pointer;
  width: 18px;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 80%;
}

img {
  max-width: 210px;
  max-height: 295px;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pagination svg {
  background-color: #E7EFFA;
  border-radius: 6px;
  color: gray;
  cursor: pointer;
  margin: 8px;
}

.search-container {
  position: relative;
}

.search-container svg {
  color: gray;
  position: absolute;
  padding: 0.5rem;
}

.search-container input[type=text]{
  background-color: #e7effa;
  border-radius: 25px;
  border: 0px solid white;
  height: 40px;
  padding-left: 40px;
}

.search {
  margin-bottom: 30px;
}

.single-show {
  padding: 0.75rem;
  display: block;
  flex-direction: column;
}

.section-fav {
  border-left: 0.5px solid #eeeeee;
  display: inline;
  list-style-type: none;
  padding-left: 1.25rem;
  width: 30%;
}

.section-fav li {
  margin-bottom: 0.5rem;
}

.tv-show {
  position: relative;
  width: 100%;
}

.tv-show li {
  list-style-type: none;
}

.tv-show svg {
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #767779a1;
  color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 6px;
}

.tv-show svg:hover {
    background-color: rgba(246, 99, 99, 0.734)
}

.hover-div {
  position: relative;
  color: white;
}

.hover-div .hover-text {
  display: none;
  position: absolute;
  bottom: 6px;
  max-height: 120px;
  padding: 10px;
  width: 190px;
}

.hover-div:hover .hover-text {
  display: block;
  background-color: #767779b9;
}

